<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>a5RofJohIhBVJBpnUpvIuvh56</string>
	<key>consumer_Secret</key>
	<string>KvhzG40Nt8gS83sQIjz7PquGDFczMN8ZHSPc0AeqynfBldoSgv</string>
</dict>
</plist>
